ProjectTracker.Frontend/bin/Debug/net8.0/appsettings.Development.json
ProjectTracker.Frontend/bin/Debug/net8.0/appsettings.json
ProjectTracker.Frontend/bin/Debug/net8.0/ProjectTracker.Frontend.deps.json
ProjectTracker.Frontend/bin/Debug/net8.0/ProjectTracker.Frontend.dll
ProjectTracker.Frontend/bin/Debug/net8.0/ProjectTracker.Frontend.exe
ProjectTracker.Frontend/bin/Debug/net8.0/ProjectTracker.Frontend.pdb
ProjectTracker.Frontend/bin/Debug/net8.0/ProjectTracker.Frontend.runtimeconfig.json
ProjectTracker.Frontend/bin/Debug/net8.0/ProjectTracker.Frontend.staticwebassets.runtime.json
ProjectTracker.Frontend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ProjectTracker.Frontend/obj/Debug/net8.0/apphost.exe
ProjectTracker.Frontend/obj/Debug/net8.0/project.razor.vscode.bin
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.AssemblyInfo.cs
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.AssemblyInfoInputs.cache
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.assets.cache
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.csproj.CoreCompileInputs.cache
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.csproj.FileListAbsolute.txt
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.dll
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.GeneratedMSBuildEditorConfig.editorconfig
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.genruntimeconfig.cache
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.GlobalUsings.g.cs
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.MvcApplicationPartsAssemblyInfo.cache
ProjectTracker.Frontend/obj/Debug/net8.0/ProjectTracker.Frontend.pdb
ProjectTracker.Frontend/obj/Debug/net8.0/staticwebassets.build.json
ProjectTracker.Frontend/obj/Debug/net8.0/staticwebassets.development.json
ProjectTracker.Frontend/obj/Debug/net8.0/staticwebassets.pack.json
ProjectTracker.Frontend/obj/Debug/net8.0/ref/ProjectTracker.Frontend.dll
ProjectTracker.Frontend/obj/Debug/net8.0/refint/ProjectTracker.Frontend.dll
ProjectTracker.Frontend/obj/Debug/net8.0/scopedcss/Components/Layout/MainLayout.razor.rz.scp.css
ProjectTracker.Frontend/obj/Debug/net8.0/scopedcss/bundle/ProjectTracker.Frontend.styles.css
ProjectTracker.Frontend/obj/Debug/net8.0/scopedcss/projectbundle/ProjectTracker.Frontend.bundle.scp.css
ProjectTracker.Frontend/obj/Debug/net8.0/staticwebassets/msbuild.build.ProjectTracker.Frontend.props
ProjectTracker.Frontend/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.ProjectTracker.Frontend.props
ProjectTracker.Frontend/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.ProjectTracker.Frontend.props
ProjectTracker.Frontend/obj/Debug/net8.0/staticwebassets/msbuild.ProjectTracker.Frontend.Microsoft.AspNetCore.StaticWebAssets.props
ProjectTracker.Frontend/obj/project.assets.json
ProjectTracker.Frontend/obj/project.nuget.cache
ProjectTracker.Frontend/obj/ProjectTracker.Frontend.csproj.nuget.dgspec.json
ProjectTracker.Frontend/obj/ProjectTracker.Frontend.csproj.nuget.g.props
ProjectTracker.Frontend/obj/ProjectTracker.Frontend.csproj.nuget.g.targets
