<!--non routable component-->

<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Project Tracker</span>
    </div>
</nav>
